{% extends 'public/sketch.html' %}
<!-- {% extends 'public/template/public_template.html' %} -->

{% block js %}
<!-- {% block script %} -->
<script>

    function save_button_id(clicked) {
        last_clicked_font = this.id
    }
    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("fast");
    });

    var parsed = JSON.parse('{{marker_type | tojson|safe}}');
    for (font in parsed) {
        $('#' + font).slideReveal({
            trigger: $("#trig_" + font),
            autoEscape: true,
            push: false,
            position: "right",
            // width: 500,
            overlay: true,
            show: function (slider, trigger) {
                // alert("Before open!");
                for (font in parsed) {
                    $('#' + font).slideReveal("hide");
                }
            }
        });
        console.log('#' + font)
    };
    $('#slider1').slideReveal({
        trigger: $("#trigger1"),
        autoEscape: true,
    });
    // console.log(v)
    $('#view_font').slideReveal({
        trigger: $("#test"),
        // autoEscape: true,
        push: false,
        overlay: true,
        position: "left",
        // width: 400,
        hide: function (slider, trigger) {
            for (font in parsed) {
                $('#' + font).slideReveal("hide");
            }
        }
    });

    var last_clicked_font = ''
    for (font in parsed) {
        button_id = 'trig_' + font
        button = document.getElementById(button_id)
        button.onclick = save_button_id
    }

    function submit_marker() {

        // var parsed = JSON.parse('{{marker_type | tojson|safe}}');
        var entry = {}
        for (font in parsed) {
            var list = []
            button_id = 'submit_' + font
            numstep_id = font + '_numstep'
            button = document.getElementById(button_id)
            numstep = document.getElementById(numstep_id)
            for (marker in parsed[font]) {
                box_nameid = font + '_' + parsed[font][marker]
                box = document.getElementById(box_nameid)
                if (box.readOnly == false) {
                    value_box = box.value;
                    box.readOnly = true
                    // console.log(name)
                    list.push(value_box)
                } else {
                    box.readOnly = false
                };
            };
            // entry[font] = list
            if (button.innerText == 'Submit') {
                entry[font] = [list]
                entry[font].push(numstep.value)
                button.innerText = 'Edit'
                button.className = "btn btn-success"
            } else {
                button.innerText = 'Submit'
                button.className = "btn btn-primary"
            };
        };
        if (box.readOnly == true) {
            // if (button.innerText == 'Submit') {
            console.log(entry)
            fetch(`${window.origin}/sketch`, {
                // fetch(`${window.origin}/guestbook/create-entry`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            });
        }
    };

    function setall_marker() {
        var setall_value = document.getElementById('setall_box').value
        // var parsed = JSON.parse('{{marker_type | tojson|safe}}');
        for (font in parsed) {
            for (marker in parsed[font]) {
                box_nameid = font + '_' + parsed[font][marker]
                box = document.getElementById(box_nameid)
                box.value = setall_value
            };
        };
    }

    function setall_numstep() {
        var setall_value = document.getElementById('setnumstep_all').value
        // var parsed = JSON.parse('{{marker_type | tojson|safe}}');
        for (font in parsed) {
            numstep_id = font + '_numstep'
            numstep = document.getElementById(numstep_id)
            numstep.value = setall_value
        };
    }

    function set_font() {
        box = document.getElementById('setfont_box')
        set_value = Number(box.value)
        clicked_font = last_clicked_font.split('_')[1]
        set_font_func(set_value, clicked_font)
    }

    function set_font_func(set_value, font) {
        // var parsed = JSON.parse('{{marker_type | tojson|safe}}');
        if (typeof (set_value) == "number") {
            for (marker in parsed[font]) {
                box_nameid = font + '_' + parsed[font][marker]
                box = document.getElementById(box_nameid)
                box.value = set_value
            };
        } else if (typeof (set_value) == "object") {
            for (marker in parsed[font]) {
                box_nameid = font + '_' + parsed[font][marker]
                box = document.getElementById(box_nameid)
                box.value = set_value[marker]
            };
        };
    };

    function set_from_file(choosen_dict) {
        var parsed = JSON.parse('{{' + choosen_dict + '| tojson|safe}}');
        for (font in parsed) {
            set_font(parsed[font], font)
        };
    };

    function submit_message() {

        var name = document.getElementById("name1");
        var message = document.getElementById("message");

        var entry = {
            name: name.value,
            message: message.value
        };
        // console.log(entry)
        fetch(`${window.origin}/sketch`, {
            // fetch(`${window.origin}/guestbook/create-entry`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })

        location.replace('sketch_')
        // .then(function (response) {
        //     if (response.status !== 200) {
        //         console.log(`Looks like there was a problem. Status code: ${response.status}`);
        //         return;
        //     }
        //     response.json().then(function (data) {
        //         // console.log(data);
        //         location.replace('sketch_')
        //     });
        // })
        // .catch(function (error) {
        //     console.log("Fetch error: " + error);
        // });

    }
</script>
{% endblock %}