<!DOCTYPE html>
<html>

<head>
    <script>
        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'http://127.0.0.1:5000/stream');
        xhr.send();

        watching = setInterval(updating_status, 1000);
        function updating_status() {
            rsplit = xhr.responseText.split('$')
            latest = rsplit[rsplit.length - 2]
            console.log(latest);
            if (latest == undefined){latest='starting'}
            document.getElementById("output").innerHTML = latest + "<br/>"
            if (latest == 'DONE!') {
                clearInterval(watching)
            }
        }
    </script>
</head>

<body>
    <h1>Output</h1>
    <div id="output"></div>
</body>

</html>