{% extends 'public/template/public_template.html' %}

{% block title %}_Sketch Fire_{% endblock %}

{% block main %}
<div class="loader-wrapper">
    <div class="loader_text" id='message'>
        <div id="latest">
            <!-- message -->
        </div>
        <div id="numfiles">
            <!-- number of files -->
        </div>
    </div>
    <span class="loader"><span class="loader-inner"></span></span>
</div>

{% endblock %}

{% block script %}
<script>
    var xhr = new XMLHttpRequest();
    xhr.open('GET', 'http://127.0.0.1:5000/processing');
    xhr.send();

    watching = setInterval(updating_status, 1000);
    function updating_status() {
        rsplit = xhr.responseText.split('$')
        console.log(rsplit);
        get_latest = rsplit[rsplit.length - 2]
        latest = get_latest.split('_')
        console.log(latest);
        message = latest[1]
        if (get_latest == undefined) { message = 'starting' }
        document.getElementById("latest").innerHTML = "<h3> ("+ latest[0] +"/"+latest[2]+ ") "+ message + " </h3>"
        // document.getElementById("numfiles").innerHTML = "<h3>" + latest[0] +"/"+latest[2] + "</h3>"
        if (message == 'DONE!') {
            clearInterval(watching)
            location.replace('processing_result')
        }
    }
</script>
{% endblock %}
