{% extends "public/template/public_template.html" %}

{% block title %}Jinja{% endblock %}

{% macro input(label="", type="text", id="", name="", placeholder="") -%}
<div class="form-group">
    <label>{{ label }}</label>
    <input type="{{ type }}" class="form-control" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}">
</div>
{%- endmacro %}

{% macro input_number(label="", step="", type="text", id="", name="", placeholder="") -%}
<div class="form-inline">
    <div class="form-group">
        <label>{{ label }}</label>
        <input type="{{ type }}" step="{{step}}" min=0 class="form-control" id="{{ id }}" name="{{ name }}"
            placeholder="{{ placeholder }}">
    </div>
</div>
{%- endmacro %}


{% block main %}
<div id='slider'>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ input_number(label="number", step="0.1", type="number",
               id="number", name="number", placeholder="Enter number") }}
        </div>
    </div>
</div>
<button id='trigger'>Trigger</button>
<div class="row">
    <div class="col-md-1">tanwin</div>
    <div class="col-md-1">
        {{ input_number(label="", step="0.1", type="number",
           id="number", name="number", placeholder="Enter number") }}
    </div>
</div>
<div class="row">
    <div class="col-md-1">Nun middle</div>
    <div class="col-md-1">
        {{ input_number(label="", step="0.1", type="number",
           id="number", name="number", placeholder="Enter number") }}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        {{ input_number(label="number", step="0.1", type="number",
           id="number", name="number", placeholder="Enter number") }}
    </div>
</div>


<!-- <div class="container">
    <div class="row">
        <div class="col">
            <h1>Jinja</h1>
            <hr>
            <select class="form-control">
                {% for x in test_list %}
                <option>{{ x }}</option>
                {% endfor %}
            </select>
            <hr>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>

            <h4>Macros</h4>
            <hr>

            <form action="#" method="POST">

                {{ input(label="Name", id="name", name="name", placeholder="Enter your name") }}

                {{ input_number(label="number", step="0.1", type="number", id="number", name="number", placeholder="Enter number") }}

                {{ input(label="Password", id="password", name="password", placeholder="Enter your password") }}

                <button type="submit" class="btn btn-primary">Sign up</button>

            </form>
            <!-- <hr> -->
<!-- <form action="/jinja" method="POST">

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" id="username" name="username"
                        placeholder="Select a username">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Create a password">
                </div>

                <button type="submit" class="btn btn-primary">Sign up</button>

            </form> -->

<!-- <h1>Guestbook</h1>
            <hr>

            <div class="mb-3">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" id="name1" placeholder="Your name">
                </div>

                <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" id="message" cols="30" rows="3"
                        placeholder="Your message"></textarea>
                </div>

                <button class="btn btn-primary" id="submit" onclick="submit_message();">Submit message</button>
                <button class="btn btn-primary" id="submit" onclick="submit_message();">Submit message</button>
            </div>

            <h3>Messages</h3>
            <hr>

            <div class="mb-3" id="messages"></div>


        </div>
    </div>
</div> -->

<div class="loader-wrapper">
    <div class="loader_text">test</div>
    <span class="loader"><span class="loader-inner"></span></span>
</div>

{% endblock %}


{% block script %}

<script>

    function submit_message() {

        var name = document.getElementById("name1");
        var message = document.getElementById("message");

        var entry = {
            name: name.value,
            message: message.value
        };
        fetch(`${window.origin}/jinja`, {
            // fetch(`${window.origin}/guestbook/create-entry`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        // .then(function (response) {
        //     if (response.status !== 200) {
        //         console.log(`Looks like there was a problem. Status code: ${response.status}`);
        //         return;
        //     }
        //     response.json().then(function (data) {
        //         console.log(data);
        //     });
        // })
        // .catch(function (error) {
        //     console.log("Fetch error: " + error);
        // });

    }

    // window.setTimeout(function (), 2000)
    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    $('#slider').slideReveal({
        trigger: $("#trigger")
    });

</script>

{% endblock %}