{% extends 'public/template/public_template.html' %}

{% block title %}Sketch{% endblock %}

{% macro input(label="", type="text", id="", name="", placeholder="") -%}
<div class="form-group">
    <label>{{ label }}</label>
    <input type="{{ type }}" class="form-control" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}">
</div>
{%- endmacro %}

{% macro input_number(label="", step="", type="text", id="", name="", placeholder="") -%}
<div class="form-inline">
    <div class="form-group">
        <label>{{ label }}</label>
        <input type="{{ type }}" step="{{step}}" min=0 class="form-control" id="{{ id }}" name="{{ name }}"
            placeholder="{{ placeholder }}">
    </div>
</div>
{%- endmacro %}


{% block main %}
<div class="wrapper">
    <div id="slider1">
        <div class="box3">
            <div class="font_type">
                <h1><b> Amiri </b></h1>
                <hr>
                <!-- <div class="nested"> -->
                <div class='m_value'>
                    <div class='m_name'>Tanwin 1</div>
                    <div class='box'> <input id='01_tanwin_01' type="number" min="0" , class="form-control" step="0.1"
                            placeholder="0.0"></div>
                </div>
                <div class='m_value'>
                    <div class='m_name'>Tanwin 2</div>
                    <div class='box'> <input id='01_tanwin_02' type="number" min="0" , class="form-control" step="0.1"
                            placeholder="0.0"></div>
                </div>
                <div class='m_value'>
                    <div class='m_name'>Nun Isolated</div>
                    <div class='box'> <input id='01_nun_01' type="number" min="0" , class="form-control" step="0.1"
                            placeholder="0.0"></div>
                </div>
                <div class='m_value'>
                    <div class='m_name'>Nun Begin 1</div>
                    <div class='box'> <input id='01_nun_02' type="number" min="0" , class="form-control" step="0.1"
                            placeholder="0.0"></div>
                </div>
                <div class='m_value'>
                    <div class='m_name'>Nun Begin 2</div>
                    <div class='box'> <input id='01_nun_03' type="number" min="0" , class="form-control" step="0.1"
                            placeholder="0.0"></div>
                </div>
                <div class='m_value'>
                    <div class='m_name'>Nun Begin 3</div>
                    <div class='box'> <input id='01_nun_04' type="number" min="0" , class="form-control" step="0.1"
                            placeholder="0.0"></div>
                </div>
                <div class='m_value'>
                    <div class='m_name'>Nun Middle</div>
                    <div class='box'> <input id='01_nun_05' type="number" min="0" , class="form-control" step="0.1"
                            placeholder="0.0"></div>
                </div>
                <div class='m_value'>
                    <div class='m_name'>Nun End</div>
                    <div class='box'> <input id='01_nun_06' type="number" min="0" , class="form-control" step="0.1"
                            placeholder="0.0"></div>
                </div>
                <div class='m_value'>
                    <div class='m_name'>Mim Isolated</div>
                    <div class='box'> <input id='01_mim_01' type="number" min="0" , class="form-control" step="0.1"
                            placeholder="0.0"></div>
                </div>
                <div class='m_value'>
                    <div class='m_name'>Mim Begin</div>
                    <div class='box'> <input id='01_mim_02' type="number" min="0" , class="form-control" step="0.1"
                            placeholder="0.0"></div>
                </div>
                <div class='m_value'>
                    <div class='m_name'>Mim Middle</div>
                    <div class='box'> <input id='01_mim_03' type="number" min="0" , class="form-control" step="0.1"
                            placeholder="0.0"></div>
                </div>
                <div class='m_value'>
                    <div class='m_name'>Mim End 1</div>
                    <div class='box'> <input id='01_mim_04' type="number" min="0" , class="form-control" step="0.1"
                            placeholder="0.0"></div>
                </div>
                <div class='m_value'>
                    <div class='m_name'>Mim End 2</div>
                    <div class='box'> <input id='01_mim_05' type="number" min="0" , class="form-control" step="0.1"
                            placeholder="0.0"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    {% for font in marker_type %}
    <div id="{{ font }}">
        <h1><b> {{ font }} </b></h1>
        <hr>
        {% for marker in marker_type[font] %}
        <div class="m_value">
            <div class="m_name">{{ marker }}</div>
            <div class="box">
                <input id='{{ font }}_{{ marker }}' type="number" min="0" , class="form-control" step="0.1"
                    placeholder="0.0" , value=0.0></div>
        </div>
        {% endfor %}
        <hr>
        <div class="m_value">
            <div class="m_name">Number of step</div>
            <div class="box">
                <input id='{{ font }}_numstep' type="number" min="0" , class="form-control" step="1"
                    placeholder="numstep" , value=20></div>
        </div>
        <hr>
        <button class="btn btn-primary" id="submit_{{font}}" onclick="submit_marker();">Submit</button>
    </div>
    {% endfor %}
</div>

<div class="wrapper">
    <div id="view_font" class="nested">
        {% for font in marker_type %}
        <!-- <button id='{{font}}'>{{font}}</button> -->
        <div class="box2">
            <button class="btn btn-primary" id='trig_{{font}}'>{{font}}</button>
            <!-- <button id='{{font}}'>{{font}}</button> -->
            <!-- <a href="#" class='{{font}}'>Lorem ipsum dolor sit amet.</a> -->
        </div>
        {% endfor %}
        <hr>
        <div class="form-inline">
            <input type="number" step="0.1" min=0 class="form-control" id="setall_box" placeholder="set all value"
                style="width: 65%;">
            <button class="btn btn-primary" onclick='setall_marker()' id='setall_button'>set all</button>
        </div>
        <div class="form-inline">
            <input type="number" step="0.1" min=0 class="form-control" id="setfont_box" placeholder="set font value"
                style="width: 65%;">
            <button class="btn btn-primary" onclick='set_font()' id='setfont_button'>set</button>
        </div>
        <div class="form-inline">
            <input type="number" step="1" min=0 class="form-control" id="setnumstep_all" placeholder="set numstep"
                style="width: 65%;">
            <button class="btn btn-primary" onclick='setall_numstep()' id='setnumstep_all_button'>set</button>
        </div>
        <hr>
        <div class="form-inline">
            <select class="form-control" style="width: 70%;" , aria-placeholder="load">
                {% for x in test_list %}
                <option>{{ x }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" onclick="load_config()" id='loadconfig_button'>load</button>
        </div>
        <hr>
        <div><button class="btn btn-primary" onclick="save_to_file()" id='savetofile_button'>save configuration
            </button></div>
    </div>
</div>



<div class="wrapper">
    <div class="box box1"></div>
    <div class="box box2">
        <!-- <div class="wrapper box2"> -->
        <!-- <div class="box2"> -->
        <!-- <div class="container"> -->
        <div class="row">
            <div class="col">
                <button id='trigger1'>Trigger</button>
                <button class="btn btn-primary" id='test'>test</button>
                <h1>Jinja</h1>
                <hr>
                <select class="form-control">
                    {% for x in test_list %}
                    <option>{{ x }}</option>
                    {% endfor %}
                </select>
                <hr>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Option one is this and that&mdash;be sure to include why it's great
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Option one is this and that&mdash;be sure to include why it's great
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Option one is this and that&mdash;be sure to include why it's great
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Option one is this and that&mdash;be sure to include why it's great
                    </label>
                </div>

                <h4>Macros</h4>
                <hr>

                <form action="#" method="POST">

                    {{ input(label="Name", id="name", name="name", placeholder="Enter your name") }}

                    {{ input_number(label="number", step="0.1", type="number", id="number", name="number", placeholder="Enter number") }}

                    {{ input(label="Password", id="password", name="password", placeholder="Enter your password") }}

                    <button type="submit" class="btn btn-primary">Sign up</button>

                </form>
                <hr>
                <!-- <form action="/jinja" method="POST">
            
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Select a username">
                            </div>
            
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                            </div>
            
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Create a password">
                            </div>
            
                            <button type="submit" class="btn btn-primary">Sign up</button>
            
                        </form> -->

                <h1>Guestbook</h1>
                <hr>

                <div class="mb-3">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="name1" placeholder="Your name">
                    </div>

                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" id="message" cols="30" rows="3"
                            placeholder="Your message"></textarea>
                    </div>

                    <button class="btn btn-primary" id="submit" onclick="submit_message();">Submit
                        message</button>
                    <button class="btn btn-primary" id="submit" onclick="submit_message();">Submit
                        message</button>
                </div>

                <h3>Messages</h3>
                <hr>

                <div class="mb-3" id="messages"></div>

                <button class='btn btn-primary' href='/public/sketch_.html'> Fire to Sketch_</button>


            </div>
            <!-- </div> -->
            <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
    <div class="box box3"></div>
    <div class="box box4">Box 4</div>
</div>


<div class="loader-wrapper">
    <div class="loader_text"></div>
    <span class="loader"><span class="loader-inner"></span></span>
</div>

{% endblock %}


{% block script %}
<script>

    function save_button_id(clicked) {
        last_clicked_font = this.id
    }
    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("fast");
    });

    var parsed = JSON.parse('{{marker_type | tojson|safe}}');
    for (font in parsed) {
        $('#' + font).slideReveal({
            trigger: $("#trig_" + font),
            autoEscape: true,
            push: false,
            position: "right",
            // width: 500,
            overlay: true,
            show: function (slider, trigger) {
                // alert("Before open!");
                for (font in parsed) {
                    $('#' + font).slideReveal("hide");
                }
            }
        });
        console.log('#' + font)
    };
    $('#slider1').slideReveal({
        trigger: $("#trigger1"),
        autoEscape: true,
    });
    // console.log(v)
    $('#view_font').slideReveal({
        trigger: $("#test"),
        // autoEscape: true,
        push: false,
        overlay: true,
        position: "left",
        // width: 400,
        hide: function (slider, trigger) {
            for (font in parsed) {
                $('#' + font).slideReveal("hide");
            }
        }
    });

    var last_clicked_font = ''
    for (font in parsed) {
        button_id = 'trig_' + font
        button = document.getElementById(button_id)
        button.onclick = save_button_id
    }

    function submit_marker() {

        // var parsed = JSON.parse('{{marker_type | tojson|safe}}');
        var entry = {}
        for (font in parsed) {
            var list = []
            button_id = 'submit_' + font
            numstep_id = font + '_numstep'
            button = document.getElementById(button_id)
            numstep = document.getElementById(numstep_id)
            for (marker in parsed[font]) {
                box_nameid = font + '_' + parsed[font][marker]
                box = document.getElementById(box_nameid)
                if (box.readOnly == false) {
                    value_box = box.value;
                    box.readOnly = true
                    // console.log(name)
                    list.push(value_box)
                } else {
                    box.readOnly = false
                };
            };
            // entry[font] = list
            if (button.innerText == 'Submit') {
                entry[font] = [list]
                entry[font].push(numstep.value)
                button.innerText = 'Edit'
                button.className = "btn btn-success"
            } else {
                button.innerText = 'Submit'
                button.className = "btn btn-primary"
            };
        };
        if (box.readOnly == true) {
            // if (button.innerText == 'Submit') {
            console.log(entry)
            fetch(`${window.origin}/sketch`, {
                // fetch(`${window.origin}/guestbook/create-entry`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            });
        }
    };

    function setall_marker() {
        var setall_value = document.getElementById('setall_box').value
        // var parsed = JSON.parse('{{marker_type | tojson|safe}}');
        for (font in parsed) {
            for (marker in parsed[font]) {
                box_nameid = font + '_' + parsed[font][marker]
                box = document.getElementById(box_nameid)
                box.value = setall_value
            };
        };
    }

    function setall_numstep() {
        var setall_value = document.getElementById('setnumstep_all').value
        // var parsed = JSON.parse('{{marker_type | tojson|safe}}');
        for (font in parsed) {
            numstep_id = font + '_numstep'
            numstep = document.getElementById(numstep_id)
            numstep.value = setall_value
        };
    }

    function set_font() {
        box = document.getElementById('setfont_box')
        set_value = Number(box.value)
        clicked_font = last_clicked_font.split('_')[1]
        set_font_func(set_value, clicked_font)
    }

    function set_font_func(set_value, font) {
        // var parsed = JSON.parse('{{marker_type | tojson|safe}}');
        if (typeof (set_value) == "number") {
            for (marker in parsed[font]) {
                box_nameid = font + '_' + parsed[font][marker]
                box = document.getElementById(box_nameid)
                box.value = set_value
            };
        } else if (typeof (set_value) == "object") {
            for (marker in parsed[font]) {
                box_nameid = font + '_' + parsed[font][marker]
                box = document.getElementById(box_nameid)
                box.value = set_value[marker]
            };
        };
    };

    function set_from_file(choosen_dict) {
        var parsed = JSON.parse('{{' + choosen_dict + '| tojson|safe}}');
        for (font in parsed) {
            set_font(parsed[font], font)
        };
    };

    function submit_message() {

        var name = document.getElementById("name1");
        var message = document.getElementById("message");

        var entry = {
            name: name.value,
            message: message.value
        };
        // console.log(entry)
        fetch(`${window.origin}/sketch`, {
            // fetch(`${window.origin}/guestbook/create-entry`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })

        location.replace('sketch_')
        // .then(function (response) {
        //     if (response.status !== 200) {
        //         console.log(`Looks like there was a problem. Status code: ${response.status}`);
        //         return;
        //     }
        //     response.json().then(function (data) {
        //         // console.log(data);
        //         location.replace('sketch_')
        //     });
        // })
        // .catch(function (error) {
        //     console.log("Fetch error: " + error);
        // });

    }
</script>
{% endblock %}