<h1><b> Amiri</b></h1>
<hr>
<!-- <div class="nested"> -->
<div class='m_value'>
    <div class='m_name'>Tanwin 1</div>
    <div class='box'> <input id='01_tanwin_01' type="number" min="0" , class="form-control" step="0.1"
            placeholder="0.0"></div>
</div>
<div class='m_value'>
    <div class='m_name'>Tanwin 2</div>
    <div class='box'> <input id='01_tanwin_02' type="number" min="0" , class="form-control" step="0.1"
            placeholder="0.0"></div>
</div>
<div class='m_value'>
    <div class='m_name'>Nun Isolated</div>
    <div class='box'> <input id='01_nun_01' type="number" min="0" , class="form-control" step="0.1" placeholder="0.0">
    </div>
</div>
<div class='m_value'>
    <div class='m_name'>Nun Begin 1</div>
    <div class='box'> <input id='01_nun_02' type="number" min="0" , class="form-control" step="0.1" placeholder="0.0">
    </div>
</div>
<div class='m_value'>
    <div class='m_name'>Nun Begin 2</div>
    <div class='box'> <input id='01_nun_03' type="number" min="0" , class="form-control" step="0.1" placeholder="0.0">
    </div>
</div>
<div class='m_value'>
    <div class='m_name'>Nun Begin 3</div>
    <div class='box'> <input id='01_nun_04' type="number" min="0" , class="form-control" step="0.1" placeholder="0.0">
    </div>
</div>
<div class='m_value'>
    <div class='m_name'>Nun Middle</div>
    <div class='box'> <input id='01_nun_05' type="number" min="0" , class="form-control" step="0.1" placeholder="0.0">
    </div>
</div>
<div class='m_value'>
    <div class='m_name'>Nun End</div>
    <div class='box'> <input id='01_nun_06' type="number" min="0" , class="form-control" step="0.1" placeholder="0.0">
    </div>
</div>
<div class='m_value'>
    <div class='m_name'>Mim Isolated</div>
    <div class='box'> <input id='01_mim_01' type="number" min="0" , class="form-control" step="0.1" placeholder="0.0">
    </div>
</div>
<div class='m_value'>
    <div class='m_name'>Mim Begin</div>
    <div class='box'> <input id='01_mim_02' type="number" min="0" , class="form-control" step="0.1" placeholder="0.0">
    </div>
</div>
<div class='m_value'>
    <div class='m_name'>Mim Middle</div>
    <div class='box'> <input id='01_mim_03' type="number" min="0" , class="form-control" step="0.1" placeholder="0.0">
    </div>
</div>
<div class='m_value'>
    <div class='m_name'>Mim End 1</div>
    <div class='box'> <input id='01_mim_04' type="number" min="0" , class="form-control" step="0.1" placeholder="0.0">
    </div>
</div>
<div class='m_value'>
    <div class='m_name'>Mim End 2</div>
    <div class='box'> <input id='01_mim_05' type="number" min="0" , class="form-control" step="0.1" placeholder="0.0">
    </div>
</div>

<button class="btn btn-primary" id="all_font">Change Font</button>